flows.json
[
    {
        "id": "8743517.3bc76b",
        "type": "tab",
        "label": "Tasmota Admin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "236bb3f3.497d5c",
        "type": "tab",
        "label": "Power ingest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "50fb97c2.2235f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "417ca687.86f458",
        "type": "influxdb",
        "hostname": "192.168.1.250",
        "port": "8086",
        "protocol": "http",
        "database": "pow",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "358fe222.ad05be",
        "type": "switch",
        "z": "8743517.3bc76b",
        "name": "states",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 400,
        "wires": [
            [
                "aeb8bb88cc28b75e"
            ],
            [
                "cc0d42b9.1522f"
            ],
            [
                "2d2d73e0.5c214c"
            ]
        ]
    },
    {
        "id": "cc0d42b9.1522f",
        "type": "change",
        "z": "8743517.3bc76b",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2d2d73e0.5c214c",
        "type": "change",
        "z": "8743517.3bc76b",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f67da982.4fe018",
        "type": "debug",
        "z": "8743517.3bc76b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1350,
        "y": 580,
        "wires": []
    },
    {
        "id": "2325cb37.390204",
        "type": "mqtt out",
        "z": "8743517.3bc76b",
        "name": "bed_lamp",
        "topic": "zigbee2mqtt/bed_lamp/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50fb97c2.2235f8",
        "x": 1380,
        "y": 340,
        "wires": []
    },
    {
        "id": "c28ec5ab8349d2de",
        "type": "mqtt in",
        "z": "8743517.3bc76b",
        "name": "blue_btn",
        "topic": "zigbee2mqtt/blue_btn",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "9f99bff80f623a0c"
            ]
        ]
    },
    {
        "id": "aeb8bb88cc28b75e",
        "type": "change",
        "z": "8743517.3bc76b",
        "name": "TOGGLE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "TOGGLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "2325cb37.390204"
            ]
        ]
    },
    {
        "id": "1b7783626c799f5e",
        "type": "mqtt out",
        "z": "8743517.3bc76b",
        "name": "room_lamp",
        "topic": "zigbee2mqtt/room_lamp/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50fb97c2.2235f8",
        "x": 1370,
        "y": 500,
        "wires": []
    },
    {
        "id": "9f99bff80f623a0c",
        "type": "json",
        "z": "8743517.3bc76b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "358fe222.ad05be"
            ]
        ]
    },
    {
        "id": "c2590fe05b936094",
        "type": "json",
        "z": "8743517.3bc76b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "513b82664307f678"
            ]
        ]
    },
    {
        "id": "513b82664307f678",
        "type": "switch",
        "z": "8743517.3bc76b",
        "name": "states",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "6914049af52be26e"
            ],
            [],
            []
        ]
    },
    {
        "id": "6914049af52be26e",
        "type": "change",
        "z": "8743517.3bc76b",
        "name": "TOGGLE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "TOGGLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "1b7783626c799f5e"
            ]
        ]
    },
    {
        "id": "31b78696b89ca8c3",
        "type": "mqtt in",
        "z": "8743517.3bc76b",
        "name": "yellow_btn",
        "topic": "zigbee2mqtt/yellow_btn",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "c2590fe05b936094"
            ]
        ]
    },
    {
        "id": "074943884faa55f7",
        "type": "mqtt out",
        "z": "8743517.3bc76b",
        "name": "room_lamp",
        "topic": "zigbee2mqtt/room_lamp/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50fb97c2.2235f8",
        "x": 1350,
        "y": 700,
        "wires": []
    },
    {
        "id": "6ff0b8e8741e1f4c",
        "type": "json",
        "z": "8743517.3bc76b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 680,
        "wires": [
            [
                "d6020ded147e37fd",
                "f67da982.4fe018"
            ]
        ]
    },
    {
        "id": "d6020ded147e37fd",
        "type": "switch",
        "z": "8743517.3bc76b",
        "name": "states",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 680,
        "wires": [
            [
                "c52bd525af573741"
            ],
            [],
            []
        ]
    },
    {
        "id": "c52bd525af573741",
        "type": "change",
        "z": "8743517.3bc76b",
        "name": "TOGGLE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "TOGGLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 660,
        "wires": [
            [
                "f67da982.4fe018"
            ]
        ]
    },
    {
        "id": "a522b80f827948f1",
        "type": "mqtt in",
        "z": "8743517.3bc76b",
        "name": "red_btn",
        "topic": "zigbee2mqtt/red_btn",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "6ff0b8e8741e1f4c"
            ]
        ]
    },
    {
        "id": "6cf01d39cfa01f43",
        "type": "mqtt in",
        "z": "8743517.3bc76b",
        "name": "desk_btn",
        "topic": "zigbee2mqtt/desk_btn",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "6ff0b8e8741e1f4c"
            ]
        ]
    },
    {
        "id": "59f3294e.052058",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31HOMELAB",
        "topic": "tele/pow/S31HOMELAB/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "8905060b.477da8",
        "type": "json",
        "z": "236bb3f3.497d5c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "4c525b90bc4be291"
            ]
        ]
    },
    {
        "id": "0d563c4026780faa",
        "type": "influxdb out",
        "z": "236bb3f3.497d5c",
        "influxdb": "417ca687.86f458",
        "name": "",
        "measurement": "pow",
        "precision": "",
        "retentionPolicy": "",
        "database": "pow",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "jrb",
        "bucket": "home",
        "x": 1210,
        "y": 420,
        "wires": []
    },
    {
        "id": "0aa1a5a1e13e38a1",
        "type": "debug",
        "z": "236bb3f3.497d5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "e00b6de182602379",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31PROX4",
        "topic": "tele/pow/S31PROX4/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "4c525b90bc4be291",
        "type": "function",
        "z": "236bb3f3.497d5c",
        "name": "",
        "func": "var factor = msg.payload.ENERGY.Factor;\nvar voltaje = msg.payload.ENERGY.Voltage;\nvar power = msg.payload.ENERGY.Power;\nvar reactive_power = msg.payload.ENERGY.ReactivePower;\nvar apparent_power = msg.payload.ENERGY.ApparentPower;\nvar current = msg.payload.ENERGY.Current;\n\n\nvar name = msg.topic.split('/')[2];\n\n\nmsg.payload = [\n    { \n        factor: factor, \n        voltaje: voltaje,\n        power: power,\n        reactive_power: reactive_power,\n        apparent_power: apparent_power,\n        current: current\n    },  // fields\n    { device: name }                 // tags\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 420,
        "wires": [
            [
                "0d563c4026780faa"
            ]
        ]
    },
    {
        "id": "5481252d88d16da8",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31POT",
        "topic": "tele/pow/S31POT/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "597da3c5e95c2969",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31PROX1",
        "topic": "tele/pow/S31PROX1/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "e49cfa6bb0fbb8df",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31NAS",
        "topic": "tele/pow/S31NAS/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "6ba9bc908cccb5a2",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31DESK",
        "topic": "tele/pow/S31DESK/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "be54939de3edf177",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31SW25",
        "topic": "tele/pow/S31SW25/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "f82cca3c9c8651a0",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31POT2",
        "topic": "tele/pow/S31POT2/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "1ad4b6a8e268a2b0",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31MEDIACENTER",
        "topic": "tele/pow/S31MEDIACENTER/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "f1041cfac9efa559",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31JetsonNanoOrin",
        "topic": "tele/pow/S31JetsonNanoOrin/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    },
    {
        "id": "05889a836a61bc9f",
        "type": "mqtt in",
        "z": "236bb3f3.497d5c",
        "name": "S31ESPRESSO",
        "topic": "tele/pow/S31ESPRESSO/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "50fb97c2.2235f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 60,
        "wires": [
            [
                "8905060b.477da8"
            ]
        ]
    }
]